<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>Vue.js</title>
<xmp theme="readable" style="display:none;">
# 基础
## 应用&组件实例
```
const app = Vue.createApp({ // 创建一个新的 Vue 应用实例
  data() { // 创建 data 对象 ($data)
    return { count: 4 }
  },
  methods: {
    increment() {
      this.count++
    },
  },
  created() {
  }
})
app.mout('#app') // 挂载到 <div id="app">
})
```

* 当一个 Vue 实例被创建时，它向 Vue 的响应式系统中加入了其 data 对象中能找到的所有的属性（和实例中的属性引用同一个对象）。
* 只有当实例被创建时 data 中存在的属性是响应式的。
* Vue 实例暴露了一些内置的实例属性与方法，它们都有前缀 `$`。
* 生命周期钩子的函数`created`, `mounted`, `updated` 等。
* 方法内`this`指向 Vue 实例，不要在选项属性或方法上使用箭头函数。

生命周期：
![img](https://v3.cn.vuejs.org/images/lifecycle.svg)

## 模版语法
### 插值
"Mustache"语法: `<span>Message: {{ msg }}</span>`
一次性插值（不更新）: `v-once`，会影响到该节点上所有的数据绑定。
原始 HTML: `<div v-html="rawHtml"></div>` 直接替换为 HTML 代码。
绑定属性：`<div v-bind:id="dynamicId"></div>` 如果属性不是bool类型，且求值结果为falsy，该属性被删除。
模版中可以使用（单个）表达式：`{{ number + 1 }}`, `<div v-bind:id="'list-' + id"></div>` 表达式所属 Vue 实例的数据作用域，都被放在沙盒中，只能访问全局变量的一个白名单。

### 指令
指令 (Directives) 是带有 v- 前缀的特殊属性。指令属性的值预期是单个 JavaScript 表达式 (v-for 例外)。指令的职责是，当表达式的值改变时，将其产生的连带影响，响应式地作用于 DOM。
条件：`<p v-if="seen">现在你看到我了</p>` 插入／移除元素。
参数: 在指令名称之后以冒号表示 `<a v-bind:href="url"></a>`参数为属性名, `<a v-on:click="doSomething">`参数为事件名。
动态参数：`<a v-bind:[attributeName]="url"> ... </a>` attributeName 会被作为一个 JavaScript 表达式进行动态求值。
修饰符`.`: 特殊后缀，用于指出一个指令应该以特殊方式绑定。`<form v-on:submit.prevent="onSubmit"></form>`
缩写：`v-bind`: `<a :href="url"></a>`, `v-on`: `<a @click="doSomething"></a>`

## Data Property 和方法
property 仅在实例首次创建时被添加，需要确保它们都在 data 函数返回的对象中。对尚未提供所需值的 property 使用 null、undefined 占位。
methods 和组件实例的其它所有 property 一样可以在组件的模板中被访问（如事件回调函数）。也可以直接从模板中调用方法。
使用 Lodash 防抖：`click: _.debounce(function() { // ... 响应点击 ...  }, 500)`

## 计算属性和观察者
`computed`选项属性，用作 Vue 实例属性的 getter 函数。也可以提供一个 setter。
可以像绑定普通属性一样在模板中绑定计算属性。依赖于计算属性的绑定会随被计算属性依赖的更新而自动更新。
计算属性是基于它们的依赖进行缓存的。计算属性只有在它的相关依赖发生改变时才会重新求值。不是响应式依赖则永远不会更新。如果不希望有缓存，则用方法替代。

`watch`选项属性：观察和响应 Vue 实例上的数据变动。当有一些数据需要随着其它数据变动而变动时，用计算属性即可。

## Class 与 Style 绑定
表达式的结果类型除了字符串之外，还可以是对象或数组。用在 v-bind 用于 class 和 style 时。
动态地切换 class: `<div v-bind:class="{ active: isActive }"></div>` 根据值的真假来选择 class。绑定的数据对象不必内联定义在模板里，常用返回对象的计算属性。
启用多个 class：`<div v-bind:class="[activeClass, errorClass]"></div>`
使用表达式：`<div :class="[isActive ? activeClass : '', errorClass]"></div>`
混合使用对象和数组：`<div v-bind:class="[{ active: isActive }, errorClass]"></div>`

绑定style: `<div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"></div>`, `<div v-bind:style="[baseStyles, overridingStyles]"></div>`
当 v-bind:style 使用需要特定前缀的 CSS 属性时，如 transform，Vue.js 会自动侦测并添加相应的前缀。
多重值：`<div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div>` 这会渲染数组中最后一个被浏览器支持的值。

## 条件渲染
if-else: `<h1 v-if="ok">Yes</h1> <h1 v-else>No</h1>` else 必须紧跟 if 后面。还可以使用 `v-else-if`。`v-if` 是惰性的：如果在初始渲染时条件为假，则什么也不做。
条件元素组：`<template v-if="ok"> <h1>Title</h1> <p>Paragraph 1</p> <p>Paragraph 2</p> </template>` template 本身只是wrapper，最终不渲染。
在元素节点上添加一个具有唯一值的 key 属性，使 Vue 渲染切换时不复用已有元素。
简单切换`display`属性：`<h1 v-show="ok">Hello!</h1>`
当 `v-if` 与 `v-for` 一起使用时，`v-for` 具有比 `v-if` 更高的优先级，`v-if` 将分别重复运行于每个 `v-for` 循环中。

## 列表渲染
for-in 语法：`<li v-for="item in items"> {{ item.message }} </li>` 也可以循环一个整数以重复。也可以使用 template 成组。
遍历object：`<li v-for="(value, name, index) in myObject">`
带有 index/key：`<li v-for="(item, index) in items">`, `<li v-for="(value, key, index) in object">`
使用 of：`<div v-for="item of items"></div>`
为了使 Vue 能跟踪每个节点的身份，从而重用和重新排序现有元素（否则只是更新而不重新排序），需要为每项提供一个唯一 key 属性: `<li v-for="item in items" :key="item.id">`
当在组件中使用 `v-for` 时，key 现在是必须的。任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域，需要用 props 传递。

Vue 可以检测数组变动（修改或替换）从而触发视图更新（如果整个数组被替换，里面的元素也会尽可能地被重用，不会导致全部重新渲染），例外：

* 直接通过索引修改，替代: `example1.items.splice(indexOfItem, 1, newValue)` 或 `Vue.set(example1.items, indexOfItem, newValue)`
* 直接修改长度，替代: `example1.items.splice(newLength)`

Vue 不能检测对象属性的添加或删除，可以使用 `Vue.set(object, key, value)` / `vm.$set()` 方法向嵌套对象添加响应式属性。
添加多个属性(替换原对象)：
```
this.userProfile = Object.assign({}, this.userProfile, {
  age: 27,
  favoriteColor: 'Vue Green'
})
```

## 事件处理
`v-on`可以接收一个定义的方法来调用，也可以用内联 JavaScript 语句调用方法（用特殊变量 $event 把 DOM 事件传入方法）。
使用事件修饰符 `<a @click.stop="doThis"></a>` 相当于在事件处理程序中调用 event.preventDefault() 或 event.stopPropagation()。修饰符可以串联，但要注意顺序。

* .stop: 阻止单击事件冒泡
* .prevent: 提交事件不再重载页面
* .capture: 使用事件捕获模式
* .self: 只当事件在该元素本身 (比如不是子元素) 触发时触发回调
* .once: 只触发一次事件

键值修饰符: `<input v-on:keyup.13="submit">`。别名：`.enter`, `.ctrl`等: `<input @keyup.alt.67="clear">`
鼠标修饰符：`<button @click.ctrl="onClick">A</button>`

## 表单输入绑定
用 `v-model` 指令在表单控件元素上创建双向数据绑定。
`v-model` 会忽略所有表单元素的 value、checked、selected 属性的初始值。
值绑定：

* 文本／多行文本：字符串
* 单选框：布尔值
* 多选框：数组
* 单选按钮：选择值
* 单选列表：选择值
* 多选列表: 数组

绑定 value 到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。
修饰符：`.lazy`（change事件同步）, `.number`（转为 Number 类型）, `.trim`（去除首尾空格） 如 `<input v-model.trim="msg">`

# 组件
一个组件本质上是一个拥有预定义选项的一个 Vue 应用实例，有着类似的选项。

## 组件注册
全局注册
```
const app = Vue.createApp({})
app.component('my-component', {
  template: '<div>A custom component! {{ msg }}</div>'
  data() {
    return {
        msg: 'a'
    }
  }
  // 其它选项
})
```
自定义标签名最好遵循 W3C 规则 (小写，并且包含一个短杠)。
组件在注册之后，便可以在父组件中以自定义元素 `<my-component></my-component>` 的形式使用。要确保在初始化根 Vue 实例之前注册了组件。
data 必须是函数。一般用来创建 data 对象给不同的组件实例使用。

局部注册：
```
const app = Vue.createApp({
  components: {
    // <my-component> 将只在父组件中可用，在其它子组件中不可用
    'my-component': {
        template: '<div>A custom component!</div>'
    }
  }
})
```

在一个模块中使用其它组件：
```
import ComponentA from './ComponentA.vue'

export default {
  components: {
    ComponentA
  }
  // ...
}
```

通常父子组件会是这样的关系：组件 A 在它的模板中使用了组件 B。它们之间必然需要相互通信：父组件要给子组件传递数据，子组件需要将它内部发生的事情告知给父组件。Vue 中父组件通过 props 向下传递数据给子组件，子组件通过 events 给父组件发送消息。

## Props
组件实例的作用域是孤立的。要让子组件使用父组件的数据，需要通过子组件的 props 选项。
`props: ['message']` 类似 data，父组件使用：`<child message="hello!"></child>`。
HTML 属性是不区分大小写的。当使用的不是字符串模板，camelCased (驼峰式) 命名的 prop 需要转换为相对应的 kebab-case (短横线隔开式) 命名：`<child my-message="hello!"></child>`。如果使用字符串模板，则没有这些限制。
传递父组件数据：`<child v-bind:my-message="parentMsg"></child>`。
传递对象：`<todo-item v-bind="todo"></todo-item>` todo 是父组件的一个对象，这个对象的所有属性都传递。
传递数值：`<comp v-bind:some-prop="1"></comp>` `v-bind` 让它的值被当作 JavaScript 表达式计算。

当父组件的属性变化时，将传导给子组件，但是不会反过来。不应该在子组件内部改变 prop。

* prop 作为初始值传入后，子组件想把它当作局部数据来用: 定义一个局部变量，并用 prop 的值初始化它。
* prop 作为初始值传入，由子组件处理成其它数据输出: 定义一个计算属性，处理 prop 的值并返回。

验证：要指定验证规格，需要用对象的形式，而不能用字符串数组。当 prop 验证失败，Vue 会抛出警告 (如果使用的是开发版本)。
组件可以接收任意传入的属性，而不需要定义相应的 prop，这些属性都会被添加到组件的根元素上。
如果有同名属性，对于多数属性来说，传递给组件的值会覆盖组件本身设定的值。class 和 style 这两个属性的值都会做合并 (merge) 操作。

## 非 Prop 的 Attribute
一个非 prop 的 attribute 是指传向一个组件，但是该组件并没有相应 props 或 emits 定义的 attribute。常见的示例包括 class、style 和 id attribute。可以通过 $attrs property 访问那些 attribute。
Attribute 继承：当组件返回单个根节点时，非 prop 的 attribute 将自动添加到根节点的 attribute 中。
禁用继承：将 inheritAttrs 选项设置为 false，然后可以使用组件的 $attrs property 将其绑定到其它元素上: `<input type="datetime-local" v-bind="$attrs" />`

## 自定义事件
通过 emits 选项在组件上定义发出的事件（可选）。如果是个数组，可以对事件进行验证。
父组件可以在使用子组件的地方用 `v-on` 来监听子组件触发的事件。子组件通过 `$emit` 发出事件。
在组件中使用 `v-model`：默认情况下，组件上的 v-model 使用 modelValue 作为 prop 和 update:modelValue 作为事件。可以用多个 v-model 绑定不同的 prop。
子组件同步 v-model 值：

* 接受一个 modelValue 属性: `props: ['modelValue']`
* 在有新的值时触发事件: `$emit('update:modelValue', $event.target.value)`

v-model 自定义修饰符：添加到组件 v-model 的修饰符将通过 modelModifiers prop 提供给组件。对于带参数的 v-model 绑定，生成的 prop 名称将为 arg + "Modifiers"。

## 使用插槽分发内容
父模板的内容在父作用域内编译；子模板的内容在子作用域内编译。

除非子组件模板包含至少一个 `<slot>` 插口，否则父组件的内容将会被丢弃。
当子组件模板只有一个没有属性的插槽时，父组件整个内容片段将插入到 `<slot>` 所在的 DOM 位置，并替换掉插槽标签本身。最初在 `<slot>` 标签中的任何内容都被视为备用默认内容。
`<slot name=thatSlot>` 元素可以用一个特殊的属性 name 来配置如何分发内容。具名插槽将匹配内容片段中有对应 slot 属性的元素。父组件使用：`<template v-slot:thatSlot>` 指定插槽内容。
仍然可以有一个匿名插槽，它是默认插槽(name:default)，作为找不到匹配的内容片段的备用插槽。如果没有默认插槽，这些找不到匹配的内容片段将被抛弃。

使用插槽 prop，子组件绑定属性：
```
<ul>
  <li v-for="( item, index ) in items">
    <slot :item="item" :index="index" :another-attribute="anotherAttribute"></slot>
  </li>
</ul>
```
在父组件引用 slot 属性对象 slotProps：
```
<todo-list>
  <template v-slot:default="slotProps">
    <i class="fas fa-check"></i>
    <span class="green">{{ slotProps.item }}</span>
  </template>
</todo-list>
```
只有默认插槽时：
```
<todo-list v-slot="slotProps">
  <i class="fas fa-check"></i>
  <span class="green">{{ slotProps.item }}</span>
</todo-list>
```

v-slot 缩写：`<template #default="slotProps">`，参数default不能省略。

## Provide / Inject
使用一对 provide 和 inject。无论组件层次结构有多深，父组件都可以作为其所有子组件的依赖提供者：父组件有一个 provide 选项来提供数据，子组件有一个 inject 选项来开始使用这些数据。
默认情况下，provide/inject 绑定并不是响应式的，需要使用 computed。

## 动态组件 & 异步组件
过使用保留的 `<component>` 元素，动态地绑定到它的 is 特性: `<component v-bind:is="currentView"></component>` currentView 是一个组件对象。
`<keep-alive>`: 如果把切换出去的组件保留在内存中，可以保留它的状态或避免重新渲染。
`Vue.defineAsyncComponent`: 将应用分割成小一些的代码块，并且只在需要的时候才从服务器加载一个模块。

## 模板引用
使用 ref attribute 为子组件或 HTML 元素指定引用 ID:

* `<input ref="input" />`，使用：`this.$refs.input.focus()`
* `<base-input ref="usernameInput"></base-input>`，使用：`this.$refs.usernameInput.focusInput()`

`$refs` 只在组件渲染完成后才填充，并且它是非响应式的。

## 处理边界情况
强制更新: `$forceUpdate`
低级静态组件：向根元素添加 v-once 指令来确保只对其求值/渲染一次，然后进行缓存。

# 过渡 & 动画

# 可复用 & 组合
## 组合式 API
`setup(props, { attrs, slots, emit, expose })` 作用类似组件的构造函数。
this 不是该活跃实例的引用。setup 的调用发生在 data property、computed property 或 methods 被解析之前。
如果 setup 返回一个对象，那么该对象的 property 以及传递给 setup 的 props 参数中的 property 就都可以在模板中访问到。
生命周期钩子前面加上 “on” 来访问组件的生命周期钩子。 `onMounted(() =>  console.log('Component is mounted!'))`
可以在组合式 API 中使用 provide/inject。两者都只能在当前活动实例的 setup() 期间调用。

# 高阶指南
## 响应性
要为 JavaScript 对象创建响应式状态，可以使用 reactive 方法。
ref 将一个独立的原始值变为响应式对象，该对象作为一个响应式的引用维护着它内部的值。该对象只包含一个名为 value 的 property。
当 ref 作为渲染上下文 (从 setup() 中返回的对象) 上的 property 返回并可以在模板中被访问时，它将自动浅层次（非嵌套）解包内部值，不需要 `.value`。
当 ref 作为响应式对象的 property（而非Array 或原生集合类型如 Map）被访问或更改时，为使其行为类似于普通 property，它会自动解包内部值。
`toRefs` 将响应式对象解构为一组 ref。
将响应式对象变为只读：`const copy = readonly(original)`
computed 函数：它接受 getter 函数并为 getter 返回的值返回一个不可变的响应式 ref 对象。
watchEffect 函数：它立即执行传入的一个函数，同时响应式追踪其依赖，并在其依赖变更时重新运行该函数。
watch 函数: 传入一个想要侦听的响应式对象或 getter 函数, 一个回调, 可选的配置选项。可以使用数组同时侦听多个源。检查深度嵌套对象或数组中的 property 变化时，需要 deep 选项设置为 true。

# 工具
## 单文件组件
Vue 单文件组件（又名 vue 文件，缩写为 SFC）是一种特殊的文件格式，它允许将 Vue 组件的模板、逻辑 与 样式封装在单个文件中。

* `<script>` 部分是一个标准的 JavaScript 模块。它应该导出一个 Vue 组件定义作为其默认导出。
* `<template>` 部分定义了组件的模板。
* `<style>` 部分定义了与此组件关联的 CSS。

### [script setup](https://v3.cn.vuejs.org/api/sfc-script-setup.html)
`<script setup>` 是在单文件组件 (SFC) 中使用组合式 API 的编译时语法糖。
普通的 `<script>` 只在组件被首次引入的时候执行一次，`<script setup>` 中的代码会在每次组件实例被创建的时候执行。
当使用 `<script setup>` 的时候，任何在 `<script setup>` 声明的顶层的绑定 (包括变量，函数声明，以及 import 引入的内容) 都能在模板中直接使用。
响应式状态需要明确使用响应式 APIs 来创建。和从 setup() 函数中返回值一样，ref 值在模板中使用的时候会自动解包。
`<script setup>` 范围里的(组件)值也能被直接作为自定义组件的标签名使用。
在 `<script setup>` 中必须使用 defineProps 和 defineEmits API 来声明 props 和 emits。
使用 defineExpose 能通过模板 ref 或者 $parent 链获取到的组件的公开实例中暴露 `<script setup>` 中声明的绑定。
useSlots 和 useAttrs 是真实的运行时函数，它会返回与 setupContext.slots 和 setupContext.attrs 等价的值。
`<script setup>` 可以和普通的 `<script>` 一起使用。普通的 `<script>` 在有这些需要的情况下或许会被使用到：

* 无法在 `<script setup>` 声明的选项，例如 inheritAttrs 或通过插件启用的自定义的选项。
* 声明命名导出。
* 运行副作用或者创建只需要执行一次的对象。

# 规模化
## 路由 [Vue-Router](https://next.router.vuejs.org/zh/guide/)
### 不同的历史模式
#### Hash 模式
hash 模式用 createWebHashHistory() 创建。
URL 路径中使用了锚点`#`，请求页面时路径并不发送到服务器，对 SEO 不友好。

#### HTML5 模式
HTML5 模式用 createWebHistory() 创建。
当使用 `<router-link>` 跳到 /page 页面时，Vue-Router 会使用 History API 实现页面跳转和浏览器 URL 的修改，并不发起一次 GET /page 的请求。
对于 SPA，如果浏览器直接访问 /page 这个 URL，需要在服务端 fallback 到 index.html，由 Vue-Router 自动处理页面渲染。

#### Caveat
配置一个万能路由，由前端来判断未找到的路径，从而显示404页面。
```
const router = createRouter({
  history: createWebHistory(),
  routes: [{ path: '/:pathMatch(.*)', component: NotFoundComponent }],
})
```

## 状态管理 [Vuex](https://next.vuex.vuejs.org/zh/index.html)

# 杂项
可复用组件应当定义一个清晰的公开接口，Vue 组件的 API 来自三部分 - props, events 和 slots ：

* Props 允许外部环境传递数据给组件
* Events 允许从外部环境在组件内触发副作用
* Slots 允许外部环境将额外的内容组合在组件中。

当注册组件 (或者 props) 时，使用 camelCase, 在 HTML 模板中，使用 kebab-case 形式。
自闭的自定义元素是无效的 HTML。

组件在有 name 选项时，它的模板内可以递归地调用自己。
当用Vue.component全局注册了一个组件，全局的 ID 作为组件的 name 选项被自动设置。

如果子组件有 inline-template 特性，组件将把它的内容当作它的模板，而不是把它当作分发内容。
另一种定义模板的方式是在 JavaScript 标签里使用 `text/x-template` 类型，并且指定一个 id。

# Reference
https://v3.cn.vuejs.org/guide/
https://cn.vitejs.dev/guide/
</xmp>
<script src="js/strapdown.js"></script>
</html>
